%% -*- mode: erlang -*-
{deps,
    [ %% not all plugins have to depend on emqx
      %% but if they do, use git_subdir in the default profile
      {emqx, {git_subdir, "https://github.com/emqx/emqx.git", {tag, "v5.4.1"}, "apps/emqx"}}
    , {emqx_ctl, {git_subdir, "https://github.com/emqx/emqx.git", {tag, "v5.4.1"}, "apps/emqx_ctl"}}
    , {emqx_utils, {git_subdir, "https://github.com/emqx/emqx.git", {tag, "v5.4.1"}, "apps/emqx_utils"}}
    , {emqx_durable_storage, {git_subdir, "https://github.com/emqx/emqx.git", {tag, "v5.4.1"}, "apps/emqx_durable_storage"}}
    , {jose, ".*", {git, "https://github.com/potatosalad/erlang-jose.git", {tag, "1.11.9"}}}
    , {jwt, ".*", {git, "https://github.com/artemeff/jwt.git", {branch, "master"}}}
    , {map_sets, "1.1.0"}
    ]}.

{plugins, [
    {emqx_plugrel, {git, "https://github.com/emqx/emqx_plugrel.git", {tag, "0.3.0"}}}
]}.

{erl_opts, [debug_info]}.

{relx, [ {release, {mqttjwt, "1.0.0"}, %% this is the release version, different from app vsn in .app file
            [ mqttjwt
            , map_sets
            ]}
       , {dev_mode, false}
       , {include_erts, false}
       ]}.

%% Additional info of the plugin
{emqx_plugrel,
    [ {authors, ["mohan"]}
    , {builder,
        [ {name, "mohan"}
        , {contact, "mohanakkumar.m@saint-gobain.com"}
        , {website, "https://github.com/Mohan15054"}
        ]}
    , {repo, "https://github.com/Mohan15054/mqttjwt"}
    , {functionality, ["verify Jwt every Pub/Sub"]}
    , {compatibility,
        [ {emqx, "~> 5.0"}
        ]}
    , {description, "Jwt Verify every Pub/sub."}
    ]
}.

{xref_checks,[undefined_function_calls,undefined_functions,locals_not_used,
              deprecated_function_calls,warnings_as_errors,deprecated_functions]}.
